<!--<nav class="navbar navbar-default">-->
  <!--<div class="container-fluid" >-->
    <!--<div class="navbar-header">-->
      <!--<a routerLink="/" class="navbar-brand">Deckbuilder</a>-->
    <!--</div>-->
    <!--<div class="collapse navbar-collapse">-->
      <!--<ul class="nav navbar-nav">-->
        <!--<li routerLinkActive="active"><a routerLink="/cards">cards</a></li>-->
        <!--<li routerLinkActive="active"><a routerLink="/deck">decks</a></li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->
<div class="container">
  <div class="row">
    <div class="col-xs-2 float-right">
      <div class="tabbable tabs-right">
        <ul class="nav nav-tabs index-top">

          <li><a href="#cards" routerLink="/cards" data-toggle="tab">Cards</a></li>
          <li><a  href="#decks" routerLink="/deck" data-toggle="tab">Decks</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="cards">
            <div class=""></div>
          </div>
          <div class="tab-pane" id="decks">
            <div class=""></div>
          </div>



        </div>
      </div>
      <!-- /tabs -->
    </div>
  </div>
</div>

