<!--<div-->
  <!--class="card"-->
  <!--appDropdown>-->
  <!--<img class="card-img-top dropdown-toggle" type="button" [src]="card?.imagePath" alt="Card image cap" >-->

  <!--<ul class="dropdown-menu">-->
    <!--<li><a (click)="addCardToDeck(card?._id)">test</a></li>-->
  <!--</ul>-->

<!--</div>-->


<div
  class="btn-group"
  appDropdown>
  <img class="card-img-top dropdown-toggle"  type="button" [src]="card?.imagePath" alt="Card image cap">
  <ul class="dropdown-menu">
    <li><a (click)="addCardToDeck(card?._id)">Add to deck</a></li>
  </ul>
</div>


  <!--<div class="card">-->
    <!--<img class="card-img-top" [src]="card?.imagePath" alt="Card image cap">-->
    <!--<a (click)="addCardToDeck(card?._id)">test</a>-->

    <!--</div>-->


