<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="deckForm" (ngSubmit)="onSubmit(deckForm)" #f="ngForm">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"  [disabled]="!deckForm.valid" >Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label class="white" for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control" ngModel
              required="true" >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label class="white" for="made by">made by</label>
            <input
              type="text"
              id="made by"
              formControlName="made by"
              class="form-control"
              ngModel
              required
              #made_by>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="form-group">
            <label class="white" for="user id">User id</label>
            <input
              type="text"
              id="user id"
              formControlName="user id"
              class="form-control"
              placeholder="leave blank if unknown or creating new deck"
              #userId>
          </div>
        </div>
        <div class="col-xs-4">
          <div>
            <div
              class="btn-group"
              appDropdown>

              <input [(ngModel)]="search" (change)="searchUser(search)" type="text"  [ngModelOptions]="{standalone: true}">
              <button type="button" class="btn btn-info" (click)="searchUser(search)">Search</button>
              <!--<button type="button" class="btn btn-info" (click)="searchUser(search)">Search</button>-->

            </div>
            <!--<input-->
              <!--type="text"-->
              <!--id="user id"-->
              <!--formControlName="user id"-->
              <!--class="form-control"-->
              <!--placeholder="leave blank if unknown or creating new deck"-->
              <!--#userId>-->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label class="white" for="description">Description</label>
            <textarea
              type="text"
              id="description"
              class="form-control"
              formControlName="description"
              rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label class="white" for="hero">Hero</label>
            <input
              type="text"
              id="hero"
              class="form-control"
              formControlName="hero">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <a class="btn btn-primary" (click)="goToOverview()">go to card overview</a>
        </div>
      </div>
    </form>
  </div>
</div>
