<div class="row">
  <div class="col-xs-12">
    <img
      [src]="card?.imagePath"
      alt="{{ card?.name }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ card?.name }}</h1>
    <h4>{{ card?.type }}</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Options <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddToDeck()" style="cursor: pointer;">Add to a deck</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ card?.description }}
  </div>
</div>

