<div class="pad-btm">
<div class="row">
  <div class="col-xs-9">
    <div class="card-deck">
    <app-deck-view-card-item (addToDeckEvent)="addCardToDeck($event)"
      *ngFor="let cardEl of cards; let i = index"
      [card]="cardEl"
      [id]="cardEl._id"></app-deck-view-card-item>
    </div>
  </div>

  <div class="col-xs-3 deck-view-cards-in-deck-component">
    <h1>cards in deck</h1>
      <app-deck-view-card-in-deck-list-item (removeFromDeckEvent)="removeCardFromDeck($event)"
        *ngFor="let cardDeckEl of cardsInDeck; let i = index"
        [card]="cardDeckEl"
        [id]="cardDeckEl._id"></app-deck-view-card-in-deck-list-item>
  </div>
</div>
</div>
