<div class="row">
  <div class="col-xs-12">
    <h1>welcome to overview!</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>{{ deck?.name }}</h2>
    <h4>{{ deck?.hero_type }}</h4>
    <h5>{{ deck?.made_by }}</h5>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Options <span class="caret"></span>
      </button>

    </div>
  </div>

</div>
<div class="row">
  <div class="col-xs-12">
    {{ deck?.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <!--<ul class="list-group">-->
      <!--<li class="list-group-item" *ngFor="let ingredient of recipe.ingredients" >-->
        <!--{{ ingredient.name }} - {{ ingredient.amount }}-->
      <!--</li>-->
    <!--</ul>-->
    <app-card-item *ngFor="let card of deck?.cards"></app-card-item>
  </div>
</div>
