.cdli-div{
  height: 50px;
  /*width:200px;*/
}

.cdli-div :hover{
  background: #f3eddd14;
}
.cdli-img{
  height:50px;
  width:50px;
  float:left;
}

.cdli-p{
  margin-left: 58px;
}

.move-right{
  left: 204px;
  top: 5px;
}

.width-100{
  width: 100%;
}
