<a
  style="cursor: pointer;"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ card?.name }}</h4>
    <h6 class="list-group-item-text">{{ card?.type }}</h6>
    <p class="list-group-item-text">{{ card?.description }}</p>
  </div>
  <span class="pull-right">
        <img
          [src]="card?.imagePath"
          alt="{{ card?.name }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
</a>
